<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Validate Emails · SkullTech</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='ladda-themeless.min.css') }}" rel="stylesheet">
</head>

<body class="text-center">

<form class="form-signin" action="{{ url_for('process') }}" method="POST" enctype="multipart/form-data">
  <h1 class="h3 mb-3 font-weight-normal">Validate Emails</h1>
  <label for="inputFile" class="sr-only">CSV file</label>
  <input type="file" name="file" id="inputFile" class="form-control" placeholder="Email address" required autofocus>
  <button class="btn btn-lg btn-primary btn-block ladda-button" data-style="expand-right" type="submit">
    <span class="ladda-label">Upload and Process</span>
  </button>
  <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
</form>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="{{ url_for('static', filename='spin.min.js') }}"></script>
<script src="{{ url_for('static', filename='ladda.min.js') }}"></script>
<script src="{{ url_for('static', filename='script.js') }}" type="module"></script>


</body>
</html>

